* {
  margin: 0;
  padding: 0;
}
button {
  width: 100px;
  height: 100px;
  background-color: rgb(234, 55, 0);
  color: white;
  position: absolute;
  left: 55%;
  top: 200px;
  border-radius: 50%;
  box-shadow: 2px 2px 5px 1px rgb(185, 184, 184);
  cursor: pointer;
  font-size: 25px;
  border: none;
}
.fun {
  width: 100px;
  height: 100px;
  background-color: rgb(234, 55, 0);
  color: white;
  position: absolute;
  left: 35%;
  top: 200px;
  border-radius: 50%;
  box-shadow: 2px 2px 5px 1px rgb(185, 184, 184);
  cursor: pointer;
  font-size: 25px;
  border: none;
}
